@charset "UTF-8";

body {
  background-color: gray;
  margin: 0;
  font-size: 20px;
}

#navi01 {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: red;
}

#navi01 li {
  background-color: blue;
  height: 60px;
  width: 150px;
  float: left;
  display: table;
}

#navi01 li a {
  background-color: green;
  color: black;
  text-decoration: none;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

/* マウスオーバー */
#navi01 li a:hover {
  background-color: yellow;
}

/* クリック時 */
#navi01 li a:active {
  background-color: purple;
}